.jp {
	margin: 0;
}

p {
	color:#212121;
	font-size: 14px;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
}

p.title {
	color: #0d47a1;
	font-weight: 600px;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}

p.sub-title {
	color: #1976d2;
	font-weight: 500px;
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
}

a href{
	color: #1976d2;
}

.main {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.nav-wrapper li a {
	font-size: 20px;
}

i.icon-white {
	color: #fff;
}

i.icon-grey {
	color: #212121;
}

i.icon-red {
	color: #b71c1c;
}

i.icon-yellow {
	color: #f57f17;
}

i.icon-green {
	color: #33691e;
}

i.icon-orange {
	color: #e65100;
}

i.icon-blue {
	color: #0d47a1
}

.top {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}

span {
	color: #0d47a1;
	font-weight: 500px;
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
}
