<div class="section" id="media_articles">
  <h2 class="h2-section">MEDIA</h2>
  <ul>
    <li class="article-media">
      <a href="https://mainichi.jp/articles/20190720/dbg/048/040/013000c" class="article-link">中高生が主宰「ＭＯＭＯ」と「ＳｕｓｔａｉｎａｂｌｅＧａｍｅ」　プレゼンコンに１００人超</a>
    </li>
    <li class="article-media">
      <a href="https://kanto.esdcenter.jp/rep190630/" class="article-link">【取材レポート】課題発見DAY@東京日本橋タワー</a>
    </li>
    <li class="article-media">
      <a href="https://www.excite.co.jp/news/article/Prtimes_2019-08-26-46913-2/" class="article-link">18歳以下専用クラウドファンディング「Crystalroad」と中高生団体「Sustainable Game」が提携し、若い世代のSDGs参画を目指す</a>
    </li>
    <li class="article-media">
      <a href="https://resemom.jp/article/2019/08/26/52126.html" class="article-link">若者のSDGs参画へ…18歳以下クラウドファンディングで中学生タッグ</a>
    </li>
    <li class="article-media">
      <a href="https://techable.jp/archives/106532" class="article-link">U-18専用クラウドファンディング「Crystalroad」と中高生団体「Sustainable Game」が提携！ 若い世代のSDGs参画を促す</a>
    </li>
    <li class="article-media">
      <a href="https://camp-fire.jp/projects/view/215389" class="article-link">一般社団法人設立のためのクラウドファンディングを開始しました。</a>
    </li>
    <li class="article-media">
      <a href="https://r-startupstudio.com/rssPressRelease/detail/sustainable-game3" class="article-link">中高生からのSDGsアクションの実現へ「課題発見DAY-Plas-」開催レポートーR-StartupStudio様</a>
    </li>
    <li class="article-media">
      <a href="https://qulii.jp/event/8085/" class="article-link">課題発見DAY-Plus-「料理とSDGsを通して世界観を広げる一日」-Qulii様</a>
  </ul>
</div>
