<div class="section" id="members">
  <h2 class="h2-section">MEMBERS</h2>
  <div class="members">
    <div class="member">
      <img class="member-img" src="../assets/img/yujin.jpg" alt="">
      <p class="member-info"><b>代表 山口由人<br>-Yujin Yamaguchi-</b><br>
  SDGsを遊びとして捉えアクションを起こしていく中高生で溢れる社会を実現したい。</p>
    </div>
    <div class="member">
      <img class="member-img" src="../assets/img/takahumi.jpg" alt="">
      <p class="member-info"><b>副代表 村上貴文<br>-Takahumi Murakami-</b><br>企業と高校生を繋ぎ、経営者になって日本をアップグレードしたい。</p>
    </div>
  </div>


  <input type="checkbox" class="popup-checkbox" id="m-check">
  <div class="popup">
    <div class="popup-content">
      <label for="m-check" class="popup-close"><i class="fas fa-times"></i></label>
      <h2>条件</h2>
      ①やりたい事(実現したい事)がある<br>
      ②当団体に自分が貢献できる事がある<br>
      ③Facebookを利用している<br>

      あなたの「挑戦」大歓迎です。
    </div>
  </div>

  <label for="m-check" class="popup-cover"></label>
  <label for="m-check" class="button">
      WANTED -新メンバー募集-
  </label>


</div>
<!--TODO: JSONから読み込む感じにしたいな-->
