<div class="section" id="services">
  <h2>サービス</h2>
  <div class="service">
    <img class="service-img" src="../assets/img/event.png" alt="">
    <h3>イベントの企画・開催</h3>
    <i class="fas fa-arrow-right"></i>
  </div>
  <div class="service">
    <img class="service-img" src="../assets/img/assets.png" alt="">
    <h3>技術・資金調達の支援</h3>
    <i class="fas fa-arrow-right"></i>
  </div>
  <div class="service">
    <img class="service-img" src="../assets/img/community.png" alt="">
    <h3>コミュニティーの運営</h3>
    <i class="fas fa-arrow-right"></i>
  </div>
  <div class="service">
    <img class="service-img" src="../assets/img/media.png" alt="">
    <h3>SDGsメディアの運営</h3>
    <i class="fas fa-arrow-right"></i>
  </div>
</div>
