body{
  text-align: center;
}
.article{
  border-bottom: 4px dotted #ccc;
  font-size: 21px;
  padding: 24px 12px;
  text-align: left;
  width: 100%;
}
.article-link{
  color: #363636;
  text-decoration: none;
}
.article-link:hover{
  color: #ff654c;
}
.article-date{
  display: inline;
  margin-right: 24px;
}
.article-title{
  display: inline;
}

.member{
  display: inline-block;
  height: 240px;
  margin: 0 2vw;
  width: 180px;
}
.member-img{
  width: 80%;
}

.section{
  margin: auto;
  max-width: 1024px;
  padding: 60px 10vw;
}
.service{
  display: inline-block;
  margin: 0 24px;
}
.service:hover{
  color: #ff654c;
  transition: .2s;
}
.service:hover > i{
  transform: translateX(80px);
  color: #ff654c;
  transition: .2s;
}
.service-img{
  width: 100%;
}
@media screen and (min-width:630px){
  .service{
    width: 30vw;
  }
}
@media screen and (min-width:1260px){
  .service{
    width: 204px;
  }
}
