body{
  text-align: center;
}
.member{
  display: inline-block;
  height: 240px;
  margin: 0 2vw;
  width: 180px;
}
.member-img{
  width: 80%;
}

.section{
  margin: auto;
  max-width: 800px;
  padding: 60px 10vw;
}
.service{
  display: inline-block;
  height: 240px;
  margin: 0 24px;
  width: 144px;
}
.service-img{
  width: 100%;
}
