---
layout: default
---
<div class="main">
  <div>
    <h2>SDGsとは</h2>
  </div>
  <div>
    <h2>SustainableGameとは</h2>
    <p>SDGsを「誰一人取り残さない世界」を実現するためのゲームであると考え、課題発見プロセスの開発を行なっている学生団体です。
      SDGsを活用した課題発見ゲームの開発と実装、イベントの企画やSDGsの理解促進とアクションの推進をしていくための技術的なサポートを行なっています。</p>
    <h3>活動理念</h3>
    <h3>名前の由来</h3>
  </div>
  <div>
    <h2>メンバー募集</h2>
    <h3>SustainableGameでは次のような人を募集しています！</h3>
    <ul>
      <li>中高生エンジニアで何を作るか悩んでいる人（課題を求めている人）</li>
​      <li>SDGsアクションのアイデアを持っていて技術面のサポートが必要な中高生</li>
​      <li>SDGsの普及や理解促進に関わりたい中高生</li>
    </ul>
    <h3>メンバー</h3>
    <ul class="member">
      <li>代表 山口由人</li>
      <li>副代表 村上貴文</li>
      <li>​技術サポーター 由本健</li>
      <li>技術サポーター 糸井主歩</li>
      <li>技術サポーター 三橋優希</li>
      <li>企画 新名さくら</li>
      <li>広報 石田光太郎</li>
    </ul>
  </div>
  <div>
    <h2>イベント情報</h2>
    {% for post in site.categories.event %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <article class="post">
          <img src="/img/{{post.thumbnail}}" alt="" class="blog_thumnail">
          <div class="post_text">
            <p>{{post.date | date:"%Y/%m/%d"}}</p><h3>{{post.title}}</h3>
          </div>
        </article>
      </a>
    {% endfor %}
  </div>
  <div>
    <h2>ブログ</h2>
    {% for post in site.categories.blog %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <article class="post">
          <img src="/img/{{post.thumbnail}}" alt="" class="blog_thumnail">
          <div class="post_text">
            <p>{{post.date | date:"%Y/%m/%d"}}</p><h3>{{post.title}}</h3>
          </div>
        </article>
      </a>
    {% endfor %}
  </div>
</div>
